// README
// This is only a .env example

REACT_APP_GITHUB_TOKEN = "YOUR GITHUB TOKEN HERE"
GITHUB_USERNAME = "YOUR GITHUB USERNAME HERE"
USE_GITHUB_DATA = "true"

// Set to true to fetch profile data from GitHub (remember to remove all components relying on GitHub data if set to false)
// Set to your username in order to fetch blog data from Medium (otherwise, hardcoded values from Blogs.js are used)